<% include ./partials/header %>

<% if(currentUser.coach == false){ %>
<div class="dropdown show ellipsis-pull">
  <a class="ellipsis-a" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-cog"></i>
  </a>

  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/logs/<%= log._id %>/edit">EDIT</a>
    <form action="/logs/<%= log._id %>?_method=DELETE" method="POST">
        <button class="dropdown-item" style="">DELETE</button>
    </form>
  </div>
</div>
<% } %>
<h1 class="text-center page-header"><%= moment(log.date).format('LL') %></h1>
<p class="text-center log-text">Created <%= moment.tz(log.created, "America/Toronto").format('LL') %></p>
<hr>
<h4 class="log-title">Food</h4>
<p style="overflow-wrap: break-word; white-space: pre-wrap;" class="log-text"><%= log.food %></p>
<h4 class="log-title">Sleep</h4>
<p class="log-text"><%= log.sleepHour %> - <%= log.wakeHour %></p>
<h4 class="log-title">water</h4>
<p class="log-text"><%= log.water %> cups of water</p>
<h4 class="log-title">Practice</h4>
<p style="overflow-wrap: break-word; white-space: pre-wrap;" class="log-text"><%= log.practice %></p>
<h4 class="log-title">Comments</h4>
<p style="overflow-wrap: break-word; white-space: pre-wrap;" class="log-text"><%= log.comments %></p>

<a href="/logs">back to logs</a>
<% include ./partials/footer %>
