<% include ../partials/header %>
<h1 class="text-center page-header"><%= team.name %></h1>
<p class="text-center padded-text">Team Code: <%= team.password %></p>
<h4 class="text-center padded-title">Coaches</h4>
<% members.forEach(function(member) { %>
    <% if(member.coach){ %>
        <p class="text-center padded-text"><%= member.firstName %> <%= member.lastName %></p>
    <% } %>
<% }) %>
<h4 class="text-center padded-title">Swimmers</h4>
<% members.forEach(function(member) { %>
    <% if(member.coach == false){ %>
            <p class="text-center padded-text"><%= member.firstName %> <%= member.lastName %></p>
        <% } %>
<% }) %>
<% include ../partials/footer %>